*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: url(https://img6.thuthuatphanmem.vn/uploads/2022/10/23/anh-nen-chill-4k-cho-laptop_040218768.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 30px 20px;
    font-family: 'Popins', sans-serif;
}

.gt{
    font-size:3em;
    color:white;
    user-select: none;
    font-weight: 500;
}
.btn {
    min-width: 200px;
    min-height: 60px;
    margin-right: 15em;
    background: transparent;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    transition: 0.5s;
    outline:none;
    border: 2px solid white;
    border-radius: 25px;
}
header .btn:hover{
    background:white;
    color:rgb(28, 47, 47)
}
.container {
    position: relative;
    width:440px;
    height: 400px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: center;
    align-items: center;
    overflow: hidden;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 55px; 
    height: 50px;
    background: transparent;
    color:white;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
  
}
.container h2 {
    text-align: center;
    font-size: 2em;
}
.form--login {
    padding: 40px;
    width: 100%;
     transition: transform 0.5s ease;
}
.form--res {
    padding: 40px;
    width: 100%;
    position: absolute;
    transition: transform 0.5s ease;
    transform: translateX(400px);
}
.input--login{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0px;
    position: relative;
}
.input--login label {
    position: absolute;
    top: 50%;
    right: 10px;
    user-select: none;
    font-size: 1em;
    font-style: italic;
}
.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
}
.login--res {
    display:flex;
    justify-content:space-around;
}
.btn--log--res{
    width: 50%;
    min-height: 3em;
    margin: 0 10px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color:#162938;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}
.btn--res{
    width: 100%;
    min-height: 3em;
    margin: 0 10px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color:#162938;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}
footer {
    background-color: #c75c5c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
/* .form--login{
    display:none;
} */
