*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f6f7fb;
    padding: 20px 40px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header h2 {
    font-size: 2.5em;
    color: #473e3e;
}
.btn-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn-right button {
    padding: 9px 18px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 20px;
}
.mode {
    background: #605858;
    color: white;
}
.logout {
    background: rgb(246, 111, 111);
    color: white;
}
.hello {
    margin: 10px;
    font-size: 30px;
}
.a:hover {
    opacity: 0.7;
      transition: 0.4s;
}
.ss {
    color: green;
    margin: 0 10px;
    font-size: 24px;
}
.failed{
    color: red;
    margin: 0 10px;
    font-size: 24px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.card{
    background: #fff;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}
.card.left {
    background-color: #E8DBFF;
}
.card input,select{
    box-shadow : 0 4px 14px rgba(0,0,0,0.08);
}
.left {
    width: 50%;
}

.right {
    width: 50%;
}
.card h3 {
    margin-bottom: 15px;
    font-size: 1.9em;
    text-align: center;
}
.tieude {
    display:flex;
    gap:20px;
    margin-bottom: 10px;
}
.cols {
    display: flex;
}
.form-select{
    flex: 1;
}
.label {
    min-width: 120px;
}
.col {
    flex: 1;
}
.nd {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.nd label {
  margin-bottom: 15px; 
  font-size: 20px;
}
textarea{
    border: none;
    background-color:#f6f7fb;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    font-size: 1.2em;
}
.chude{
    display:block;
}
.tt{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.btn {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 20px;
}
.but {
    min-width: 200px;
    padding: 15px 0px;
    border: none;
    font-size:20px;
    border-radius: 25px;
    cursor: pointer;
}
.save {
    background-color: rgb(176, 176, 251);
    color: white;

}
label {
    display: inline-block;
    margin: 10px 0px;
    font-size: 20px;
    margin-right: 10px;
}
input, select {
    width: 70%;
    height: 38px;
    padding: 7px 10px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    font-size: 1em;
}
.create{
    min-width: 100%;
    padding: 10px 0px;
    border-radius: 25px;
    border: none;
    background-color: rgb(172, 172, 247);
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    width: 50%;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding: 5px 12px;
    margin-right: 10px;
}
.posted {
    margin-top: 20px;
    border: 2px solid rgb(250, 227, 248);
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.active{
    color: blue;
    font-size: 18px;
}
.trangthai{
    font-size: 18px;
    margin-right: 15px;
    display:flex;
    align-items: center;
    gap:5px;
    justify-content: flex-end;
    margin-top: 10px;
}
.ct {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    background: transparent;
}
.xoa {
    background-color:rgb(240, 96, 96);
    color: white;
}
.delete{
    background-color: rgb(240, 96, 96);
    font-size: 18px;
    min-width: 100px;
    border:none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}
.popup {
    position: relative;
    width: 600px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.like {
    display:flex;
    margin-top: 20px;
    gap: 20px;
    border: 2px solid rgb(250, 227, 248);
    min-height: 40px;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}
.like-btn {
    background-color: rgb(176, 176, 251);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.cmt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.cmt textarea{
    width: 80%;
    height: 80px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
}
.cmt-btn {
    background-color: rgb(176, 176, 251);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    height: 80px;
    font-size: 16px;
}
