* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #C3AED6, #DFF6F0);
    background-position: center;
    font-family: 'Popins', sans-serif;
    overflow-y: auto;
}
ul {
  list-style-type: none;
}
header {
    background: linear-gradient(135deg, #C3AED6, #F8F8FF);
    position:fixed;
    top: 10px ;
    left:0;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    font-family: 'Popins', sans-serif;
    border: 2px solid linear-gradient(135deg, #a964e5, #d4d4f8);
    border-radius: 10px;
    z-index: 99;
}
header h3 {
    margin-left: 0;
    font-size: 3em;
    color: black;
    user-select: none;
}
.btn-logout {
    min-width: 200px;
    min-height: 60px;
    margin-right: 10em;
   background: linear-gradient(135deg, #C3AED6, #c783f8);
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(82, 50, 50);
    transition: 0.5s;
    outline:none;
    border: 2px solid rgb(67, 0, 115);
    border-radius: 25px;
}
.btn-logout:hover{
    background: #a86bd8;
    color:white;
}
.search-box {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #F8F8FF, #C3AED6);
    border: 2px solid #C3AED6;
    border-radius: 25px;
    padding: 5px 10px;
    margin-right: 2em;
    
}

.search-input {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 1em;
    color: #333;
    min-width: 300px;
    
}

.search-btn {
    border: none;
    background: linear-gradient(135deg, #C3AED6, #c783f8);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.search-btn:hover {
    background: #a86bd8;
}
.container{
    display: flex;
    position: relative;
    
}
.main-wrapper{
    position: fixed;
    top: 210px;
    left: 10px;
    border: 2px solid #901876;
    border-radius: 20px;
    min-height: 70vh;
    width: 250px;
    background-color: rgb(229, 155, 246);    
}
.action{
    font-size:30px;;
    cursor: pointer;
}
.file-action {
    padding: 10px;
    margin: 30px 10px;
    border: 2px solid #c078f7;
    border-radius: 20px;
    background-color:#d9aefa;
}
.file-display{
    position: relative;
    margin-top: 220px; 
    left: 300px;
    border: 2px solid #000000;
    border-radius: 10px;
    min-height: 70vh;
    min-width: 80%;
    background-color: white;
}
.tree {
    font-size: 30px;
}
.li-folder{
    margin: 20px 0;
}
.folder {
    cursor: pointer;
}
.file {
    margin-left: 30px;
    margin-top: 10px;
}