/* /* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f4f4f4;
}

.theme-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 15px;
    transition: transform 0.3s;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

body.dark-mode .main-header {
    background-color: #2c3e50;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

body.dark-mode .logo a,
body.dark-mode .nav-item,
body.dark-mode .theme-toggle {
    color: #ecf0f1;
}

@media (max-width: 768px) {
    body.dark-mode .main-nav {
        background-color: #1f2a37;
    }
    
    body.dark-mode .nav-list li {
        border-bottom: 1px solid #3b5062;
    }
}

body.dark-mode {
    background-color: #34495e;
    color: #4f5e62;
}
body.dark-mode .hello  {
    background-color: #34495e;
    color: #ffffff;
}

.main-header {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
}

.main-nav {
    flex-grow: 1; 
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-item {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    
    .main-header {
        padding: 15px 20px; 
    }
    
    .menu-toggle {
        display: block; 
        background: none;
        border: none;
        color: white;
        font-size: 2em;
        cursor: pointer;
        z-index: 100;
    }

    .main-nav {
        display: none; 
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #2c3e50;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    
    .main-nav.active {
        display: block;
    }

    .nav-list {
        flex-direction: column; 
        padding: 10px 0;
    }

    .nav-list li {
        text-align: center;
        border-bottom: 1px solid #3b5062; 
    }
    
    .nav-item {
        display: block;
        padding: 15px 0;
    }
} */