
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header h2 {
    font-size: 2.5em;
    color: #473e3e;
}
.btn-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn-right button {
    padding: 9px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.mode {
    background: #605858;
    color: white;
}
.logout {
    background: rgb(249, 137, 137);
    color: white;
}
.hello {
    margin: 10px;
    font-size: 30px;
}
.a:hover {
    opacity: 0.7;
    transition: 0.4s;
}
.ss {
    color: green;
    margin: 0 10px;
    font-size: 24px;
}
.failed{
    color: red;
    margin: 0 10px;
    font-size: 24px;
}
.container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.card{
    background: #fff;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}
.left {
    width: 35%;
}

.right {
    width: 65%;
}
.card h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}
label {
    display: block;
    margin: 10px 0px;
    font-size: 20px;
}
input, select {
    width: 100%;
    height: 38px;
    padding: 7px 10px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 1em;
}
.create{
    min-width: 100%;
    padding: 10px 0px;
    border-radius: 25px;
    border: none;
    background-color: rgb(172, 172, 247);
    font-size: 20px;
    color: white;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 20px;
}

th {
    text-align: left;
    padding: 10px 0;
    color: #666;
}

td {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}
.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    width: 50%;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding: 5px 12px;
}
.active{
    color: blue;
    font-size: 18px;
}
.delete{
    background-color: rgb(240, 96, 96);
    font-size: 18px;
    min-width: 100px;
    border:none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}