.a:hover{
    opacity: 0.7;
    transition: 0.4s;
}

.btn-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn-right button {
    padding: 9px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.stats{
    background-color:#cfb4b4;
}
.mode {
    background: #473e3e;
    color: white;
}
.logout {
    background: rgb(246, 111, 111);
    color: white;
}
.hello {
    margin: 10px;
    font-size: 30px;
}
.container {
    margin-top: 150px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.cards{
    background: #fff;
    border-radius: 18px;
    min-width: 15%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.cards h3{
    font-size: 1.5em;
    margin: 10px 0px;
}
.cards p{
    margin: 10px 0px;
    font-size: 1.2em;
    text-align:center;
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
}
.cards ul{
    margin: 10px 10px;
    font-size: 1.2em;
}
.cards ul li{
    margin: 5px 0px;
}
@media (max-width: 768px) {
    .container {
        margin-top: 2em;
        margin-bottom: 2em;
        flex-wrap: wrap;
    }
    .cards{
        min-width: 90%;
    }
}